html, body {
    padding: 0;
    margin: 0;
}

.primary-audio {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secondary-audio {
  position: absolute;
     width: 100%;
     height: 100%;
     object-fit: cover;
}
